<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Admin Panel</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="active" class="highlight-active nav navbar-nav side-nav">
            <li class="nav-element"><a href="/cms/dashboard"><i class="fa fa-bullseye"></i> Dashboard</a></li>
            <li class="nav-element"><a href="/cms/pages"><i class="fa fa-indent"></i> Pages</a></li>
            <li class="nav-element"><a href="/cms/sections"><i class="fa fa-tasks"></i> Sections</a></li>
            <li class="nav-element"><a href="/cms/navigation"><i class="fa fa-bars"></i> Navigation</a></li>
            <li class="nav-element"><a href="/cms/image-upload"><i class="fa fa-picture-o"></i> Image Upload</a></li>
            <li class="nav-element"><a href="/cms/sass-editor"><i class="fa fa-object-ungroup"></i> Sass Editor</a></li>
            <li class="nav-element"><a href="/cms/scaffhold"><i class="fa fa-cube"></i> Scaffhold</a></li>
            <li class="nav-element"><a href="/cms/settings"><i class="fa fa-cog"></i> Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:alert('Sorry :( not existing yet.')"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="/cms/settings"><i class="fa fa-gear"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout" target="_self"><i class="fa fa-power-off"></i> Log Out </a></li>
                </ul>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <form class="navbar-search">
                    <input type="text" placeholder="Search" class="form-control">
                </form>
            </li>
        </ul>
    </div>
</nav>