
<% include cms-parts/header %>
<body>
    <div id="wrapper" ng-controller="dashboard">

			<% include cms-parts/nav %>
            <% include cms-parts/modals %>

        <div id="page-wrapper">

        <div class="container-fluid" style="max-width: 1080px;">
        	 <div ng-view></div>
        </div>
    
        </div>
    </div>
    <div id="error_popup"></div>
</body>
</html>
