
<% include cms-parts/header %>
<body>
    <div id="wrapper" ng-controller="dashboard">

			<% include cms-parts/nav %>
            <% include cms-parts/modals %>

        <div id="page-wrapper">

        <div class="container">
        	 <div class="" ng-view></div>
        </div>
       

        </div>
    </div>
    <!-- /#wrapper -->
    <div id="error_popup"></div>
</body>
</html>
