<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= _source.languages[lang].pagetitle %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

	<meta name="description" content="<%= _source.languages[lang].metaDescription %>">
	<meta name="keywords" content="<%= _source.languages[lang].metaTags %>">

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/page.js"></script>

    <%- _source.languages[lang].htmlHead %>

</head>