  <nav class="navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand" title="Voteitup.net - Your social playlist"><img width="150" src="http://de.voteitup.net/wp-content/uploads/2015/08/blacklogo_dark1.png" alt="Voteitup.net - Your social playlist"></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <%- _sourceNavigation.languages[lang].html %>
    </div>
</nav>




