.file-list{
	.list-group{

		.list-group-item{
			padding-left: 30px;
		}

		.list-group{
			.list-group-item{
				padding-left: 50px;
			}
			.list-group{
				.list-group-item{
					padding-left: 70px;
				}
			}
		}

	}

}